<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Warriors - Alumni</title>

    <link
      rel="preload"
      as="font"
      href="../fonts/AirbnbCerealBold.ttf"
      type="font/ttf"
      crossorigin="anonymous"
    />

    <style>
      @font-face {
        font-family: reg;
        src: url(../fonts/AirbnbCerealBook.ttf);
        font-weight: normal;
      }
      @font-face {
        font-family: light;
        src: url(../fonts/AirbnbCerealLight.ttf);
        font-weight: normal;
      }
      @font-face {
        font-family: med;
        src: url(../fonts/AirbnbCerealMedium.ttf);
        font-weight: normal;
      }
      @font-face {
        font-family: bold;
        src: url(../fonts/AirbnbCerealBold.ttf);
        font-weight: normal;
      }
      @font-face {
        font-family: logo;
        src: url(../fonts/Jokerman-Regular.ttf);
        font-weight: normal;
      }
    </style>

    <link rel="stylesheet" href="../css/all.css" />
    <link rel="stylesheet" href="../css/alumni.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="icon" href="../assets/cw-logo.png" />
    <meta
      name="description"
      content="We are the Code Warriors, the computer club of DPS Vasant Kunj. We're a team of technology addicts, our skills ranging from gaming to designing"
    />
    <meta name="author" content="Kevin" />
    <meta
      name="keywords"
      content="code, code warriors, code warrior, cw, code wars, dpsvk"
    />
  </head>

  <body class="dark">
    <script>
      let theme = localStorage.getItem("theme");

      if (theme == "light") {
        document.body.classList.add("light");
        theme = localStorage.setItem("theme", "light");
      } else {
        document.body.classList.remove("light");
        theme = localStorage.setItem("theme", "dark");
      }
    </script>

    <main>
      <nav>
        <div class="navLeft">
          <a class="navBtn" target="_blank" href="https://discord.gg/aztyaceuY2"
            >Join Discord</a
          >
          <a class="navLink" href="/blogs">Blog</a>
          <a class="navLink" href="/archives/creative">Archive</a>
          <a class="navLink" href="/resources">Resources</a>
          <div class="ham">
            <div class="hamLine"></div>
          </div>
        </div>
        <a href="/" class="navMid">CW</a>
        <div class="navRight">
          <a class="navLink" href="/">Home</a>
          <a class="navLink" href="/members">Members</a>
          <a class="navLink" href="/contacts">Contact</a>
          <a class="navLink active" href="#">Alumni</a>
          <i class="fas fa-lightbulb"></i>
        </div>
      </nav>

      <div class="side">
        <a
          style="--navD: 0.4s"
          class="navBtn"
          href="https://discord.gg/aztyaceuY2"
          target="_blank"
          >Join Discord</a
        >
        <a style="--navD: 0.44s" class="navLink" href="/">Home</a>
        <a style="--navD: 0.48s" class="navLink" href="/blogs">Blog</a>
        <a style="--navD: 0.52s" class="navLink" href="/archives/creative"
          >Archive</a
        >
        <a style="--navD: 0.56s" class="navLink" href="/resources">Resources</a>
        <a style="--navD: 0.6s" class="navLink" href="/members">Members</a>
        <a style="--navD: 0.64s" class="navLink" href="/contacts">Contact</a>
        <a style="--navD: 0.68s" class="navLink active" href="#">Alumni</a>
      </div>

      <section class="hero">
        <div class="heroContent">
          <h1>The Alumni</h1>
          <h3>
            These are the warriors who left the arena but never dropped their
            weapons.
          </h3>
          <div class="transparent">
            <div data-depth="0.2" class="dShapes">
              <div class="l1">
                <img
                  class="inMob"
                  data-speed="2"
                  data-layer="1"
                  style="--t: 13%; --l: 6%; --r: 0"
                  src="../assets/shapes/circ.svg"
                  alt=""
                />
                <img
                  class="inMob"
                  data-speed="3"
                  data-layer="1"
                  style="--t: 15%; --l: 90%; --r: 1deg"
                  src="../assets/shapes/circ.svg"
                  alt=""
                />
              </div>
            </div>
            <div data-depth="0.7" class="dShapes">
              <div class="l2">
                <img
                  class="inMob"
                  data-speed="3"
                  data-layer="2"
                  style="--t: 0%; --l: 70%; --r: 0"
                  src="../assets/shapes/square.svg"
                  alt=""
                />
                <img
                  class="inMob"
                  data-speed="2"
                  data-layer="2"
                  style="--t: -5%; --l: 25%; --r: 20deg"
                  src="../assets/shapes/triangle.svg"
                  alt=""
                />
              </div>
            </div>
            <div data-invert-y="false" data-depth="0.3" class="dShapes">
              <div class="l1">
                <img
                  class="forstab"
                  data-speed="3"
                  data-layer="1"
                  style="--t: 30%; --l: 6%; --r: 0"
                  src="../assets/shapes/circ.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="4"
                  data-layer="1"
                  style="--t: 75%; --l: 64%; --r: 1deg"
                  src="../assets/shapes/circ.svg"
                  alt=""
                />
                <img
                  class="fortab"
                  data-speed="3"
                  data-layer="1"
                  style="--t: 77%; --l: 17%; --r: 80deg"
                  src="../assets/shapes/triangle.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="2"
                  data-layer="1"
                  style="--t: 70%; --l: 1%; --r: 0"
                  src="../assets/shapes/square.svg"
                  alt=""
                />
              </div>
            </div>
            <div data-depth="0.6" class="dShapes">
              <div class="l2">
                <img
                  class="mob"
                  data-speed="2"
                  data-layer="2"
                  style="--t: 16%; --l: 32%; --r: 0"
                  src="../assets/shapes/circ.svg"
                  alt=""
                />
                <img
                  class="forstab"
                  data-speed="3"
                  data-layer="2"
                  style="--t: 20%; --l: 20%; --r: 20deg"
                  src="../assets/shapes/triangle.svg"
                  alt=""
                />
                <img
                  class="forstab"
                  data-speed="4"
                  data-layer="2"
                  style="--t: 27%; --l: 97%; --r: 40deg"
                  src="../assets/shapes/triangle.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="5"
                  data-layer="2"
                  style="--t: 18%; --l: 76%; --r: 1deg"
                  src="../assets/shapes/square.svg"
                  alt=""
                />
              </div>
            </div>
            <div data-invert-x="true" data-depth="0.4" class="dShapes">
              <div class="l3">
                <img
                  class="forstab"
                  data-speed="3"
                  data-layer="3"
                  style="--t: 33%; --l: 85%; --r: 1deg"
                  src="../assets/shapes/circ.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="2"
                  data-layer="3"
                  style="--t: 45%; --l: 13%; --r: 50deg"
                  src="../assets/shapes/triangle.svg"
                  alt=""
                />
                <img
                  class="fortab"
                  data-speed="2"
                  data-layer="3"
                  style="--t: 48%; --l: 92%; --r: 90deg"
                  src="../assets/shapes/triangle.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="3"
                  data-layer="3"
                  style="--t: 72%; --l: 79%; --r: 1deg"
                  src="../assets/shapes/square.svg"
                  alt=""
                />
              </div>
            </div>
            <div data-depth="0.6" class="dShapes">
              <div class="l4">
                <img
                  class="mob"
                  data-speed="4"
                  data-layer="4"
                  style="--t: 55%; --l: 78%; --r: 1deg"
                  src="../assets/shapes/circ.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="2"
                  data-layer="4"
                  style="--t: 60%; --l: 26%; --r: 20deg"
                  src="../assets/shapes/triangle.svg"
                  alt=""
                />
                <img
                  class="forstab"
                  data-speed="5"
                  data-layer="4"
                  style="--t: 67%; --l: 92%; --r: 1deg"
                  src="../assets/shapes/triangle.svg"
                  alt=""
                />
              </div>
            </div>

            <div data-depth="0.2" class="lShapes">
              <div class="l1">
                <img
                  class="inMob"
                  data-speed="2"
                  data-layer="1"
                  style="--t: 13%; --l: 6%; --r: 0"
                  src="../assets/shapes/circ2.svg"
                  alt=""
                />
                <img
                  class="inMob"
                  data-speed="3"
                  data-layer="1"
                  style="--t: 15%; --l: 90%; --r: 1deg"
                  src="../assets/shapes/circ2.svg"
                  alt=""
                />
              </div>
            </div>
            <div data-depth="0.7" class="lShapes">
              <div class="l2">
                <img
                  class="inMob"
                  data-speed="3"
                  data-layer="2"
                  style="--t: 0%; --l: 70%; --r: 0"
                  src="../assets/shapes/square2.svg"
                  alt=""
                />
                <img
                  class="inMob"
                  data-speed="2"
                  data-layer="2"
                  style="--t: -5%; --l: 25%; --r: 20deg"
                  src="../assets/shapes/triangle2.svg"
                  alt=""
                />
              </div>
            </div>
            <div data-invert-y="false" data-depth="0.3" class="lShapes">
              <div class="l1">
                <img
                  class="forstab"
                  data-speed="3"
                  data-layer="1"
                  style="--t: 30%; --l: 6%; --r: 0"
                  src="../assets/shapes/circ2.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="4"
                  data-layer="1"
                  style="--t: 75%; --l: 64%; --r: 1deg"
                  src="../assets/shapes/circ2.svg"
                  alt=""
                />
                <img
                  class="fortab"
                  data-speed="3"
                  data-layer="1"
                  style="--t: 77%; --l: 17%; --r: 80deg"
                  src="../assets/shapes/triangle2.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="2"
                  data-layer="1"
                  style="--t: 70%; --l: 1%; --r: 0"
                  src="../assets/shapes/square2.svg"
                  alt=""
                />
              </div>
            </div>
            <div data-depth="0.6" class="lShapes">
              <div class="l2">
                <img
                  class="mob"
                  data-speed="2"
                  data-layer="2"
                  style="--t: 16%; --l: 32%; --r: 0"
                  src="../assets/shapes/circ2.svg"
                  alt=""
                />
                <img
                  class="forstab"
                  data-speed="3"
                  data-layer="2"
                  style="--t: 20%; --l: 20%; --r: 20deg"
                  src="../assets/shapes/triangle2.svg"
                  alt=""
                />
                <img
                  class="forstab"
                  data-speed="4"
                  data-layer="2"
                  style="--t: 27%; --l: 97%; --r: 40deg"
                  src="../assets/shapes/triangle2.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="5"
                  data-layer="2"
                  style="--t: 18%; --l: 76%; --r: 1deg"
                  src="../assets/shapes/square2.svg"
                  alt=""
                />
              </div>
            </div>
            <div data-invert-x="true" data-depth="0.4" class="lShapes">
              <div class="l3">
                <img
                  class="forstab"
                  data-speed="3"
                  data-layer="3"
                  style="--t: 33%; --l: 85%; --r: 1deg"
                  src="../assets/shapes/circ2.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="2"
                  data-layer="3"
                  style="--t: 45%; --l: 13%; --r: 50deg"
                  src="../assets/shapes/triangle2.svg"
                  alt=""
                />
                <img
                  class="fortab"
                  data-speed="2"
                  data-layer="3"
                  style="--t: 48%; --l: 92%; --r: 90deg"
                  src="../assets/shapes/triangle2.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="3"
                  data-layer="3"
                  style="--t: 72%; --l: 79%; --r: 1deg"
                  src="../assets/shapes/square2.svg"
                  alt=""
                />
              </div>
            </div>
            <div data-depth="0.6" class="lShapes">
              <div class="l4">
                <img
                  class="mob"
                  data-speed="4"
                  data-layer="4"
                  style="--t: 55%; --l: 78%; --r: 1deg"
                  src="../assets/shapes/circ2.svg"
                  alt=""
                />
                <img
                  class="mob"
                  data-speed="2"
                  data-layer="4"
                  style="--t: 60%; --l: 26%; --r: 20deg"
                  src="../assets/shapes/triangle2.svg"
                  alt=""
                />
                <img
                  class="forstab"
                  data-speed="5"
                  data-layer="4"
                  style="--t: 67%; --l: 92%; --r: 1deg"
                  src="../assets/shapes/triangle2.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <% for (let i = 0; i < keys.length; i++) { %>
      <section class="header">
        <% if (i==0) { %>
        <div class="inputCont">
          <div class="input">
            <input id="searchBar" type="text" placeholder="Search" />
            <button>
              <img class="darkR" src="../assets/search.svg" alt="" /><img
                class="lightR"
                src="../assets/search2.svg"
                alt=""
              />
            </button>
          </div>
        </div>
        <% } %>
        <h2 class="year">
          <%= keys[i] %> - <%= (parseInt(keys[i]) + 1) - 2000 %>
        </h2>
        <% if (i==0) { %>
        <div class="sortCont">
          <div class="sort">
            <div class="by">Sort by Year</div>
            <div class="buttn">
              <i class="fas fa-sort-down"></i>
            </div>
            <div class="options">
              <div id="all" class="option toS">All</div>
              <% for (let year of keys) { %>
              <div class="option toS"><%= year %></div>
              <% } %>
            </div>
          </div>
        </div>
        <% } %>
      </section>

      <section class="cards">
        <% for (let alumni of obj[keys[i]]) { %>
        <div class="card">
          <div class="cardHeader">
            <img src="/img/<%= alumni.image %>" alt="" />
            <div class="cardRight">
              <h2><%= alumni.name %></h2>
              <h3><%= alumni.post %></h3>
            </div>
          </div>
          <!-- <p><%= alumni.current %></p> -->
          <div class="social">
            <% for (let social of alumni.socials) { %> <% if (social.platform ==
            "envelope") { %>
            <a href="mailto:<%= social.URL %>" target="_blank">
              <i class="fas fa-<%= social.platform %>"></i>
            </a>
            <% } else if (social.platform == "pager") { %>
            <a href="<%= social.URL %>" target="_blank">
              <i class="fas fa-<%= social.platform %>"></i>
            </a>
            <% } else { %>
            <a href="<%= social.URL %>" target="_blank">
              <i class="fab fa-<%= social.platform %>"></i>
            </a>
            <% } %> <% } %>
          </div>
        </div>
        <% } %>
      </section>

      <% } %>
    </main>

    <footer>
      <p>
        <span id="titleF"></span
        ><span id="cursorF" class="cursor footcur"></span>
      </p>
      <div class="footSocial">
        <a href="https://www.facebook.com/codewarriors/">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/codewarriors42/?hl=en">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com/codewarriors42">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.behance.net/codewarriors">
          <i class="fab fa-behance"></i>
        </a>
      </div>
    </footer>

    <script>
      let ops = document.querySelectorAll(".toS");
      for (let option of ops) {
        option.addEventListener("click", () => {
          let sort = option.textContent;
          if (document.querySelector(".yearAdded")) {
            document.querySelector(".yearAdded").remove();
          }
          document.querySelector(".year").style.display = "flex";

          if (sort == "All") {
            document.querySelector(".option").style.display = "none";
            for (let header of document.querySelectorAll(".header")) {
              header.style.display = "flex";
            }
            for (let cards of document.querySelectorAll(".cards")) {
              cards.style.display = "flex";
            }
            document.querySelector(
              ".year"
            ).textContent = `<%= keys[0] %> - <%= (parseInt(keys[0]) + 1) - 2000 %>`;
          } else {
            let years = document.querySelectorAll(".year");

            for (let year of years) {
              if (sort == year.textContent.trim().slice(0, 4)) {
                let cardss = document.querySelectorAll(".cards");
                let headers = document.querySelectorAll(".header");
                for (let cards of cardss) {
                  cards.style.display = "none";
                }
                for (let header of headers) {
                  header.style.display = "none";
                }

                document.querySelector(".header").style.display = "flex";
                document.querySelector(".year").style.display = "none";

                let newYear = document.createElement("H2");
                newYear.classList.add("year");
                newYear.classList.add("yearAdded");
                newYear.textContent = `${year.textContent}`;
                document
                  .querySelector(".header")
                  .insertBefore(
                    newYear,
                    document.querySelector(".header").childNodes[2]
                  );

                let disCards = year.parentElement.nextElementSibling;
                disCards.style.display = "flex";
                document.querySelector(".option").style.display = "block";
              }
            }
          }
        });
      }
    </script>
    <script src="../js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script src="../js/footer.js"></script>
    <script src="../js/mode.js"></script>
    <script src="../js/alumni.js"></script>
  </body>
</html>
