<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Code Warriors - Admin - Edit Resource</title>
  </head>
  <body>
    <h1>Edit Resource</h1>
    <form
      action="/admin/resources/edit/<%= resource._id %>?_method=PUT"
      enctype="multipart/form-data"
      method="POST"
    >
      <input type="text" name="name" required value="<%= resource.name %>" />
      <input type="text" name="link" required value="<%= resource.link %>" />
      <br />
      <h2>IMAGES ONLY IN SVG</h2>
      <label>Dark</label>
      <input type="file" name="dark" accept="image/*" />
      <img width="400px" src="/img/<%= resource.dark %>" alt="" />
      <br />
      <label>Light</label>
      <input type="file" name="light" accept="image/*" />
      <img width="400px" src="/img/<%= resource.light %>" alt="" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
